header {
    background-color: var(--color-primary-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--color-secondary-accent);
}

.header-title {
    transition: transform 0.2s ease-in-out;
}

.header-title:hover {
    transform: scale(1.02) rotate(-1deg);
}

nav ul {
    display: flex;
    gap: 10px;
}

nav ul li {
    list-style: none;
    background-color: var(--color-secondary-accent);
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

nav ul li:hover {
    background-color: var(--color-supporting-accent);
}