:root {
    --color-ink: #263a55;
    --color-primary-accent: #d98c9b;
    --color-primary-light: #faeeee;
    --color-secondary-accent: #b8c3d4;
    --color-supporting-accent: #a8b9a7;
    --color-highlight: #f5d989;
    --color-background: #fffdfb;

    --font-heading: "Fredoka", sans-serif;
    --font-body: "Nunito Sans", sans-serif;
}